/*centering images and text*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
p,h1,h2,h3,table,ul {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
/*special margin for classes*/
.t3 {
    display: block;
    margin-left: 30;
    margin-right: 70;
    width: 55%;
    font-size: 20px;
}
table {
    background-color: lightblue;
}
#caption {
    font-style:italic;
}
h1{
    text-decoration: underline;
}
/*line spacing*/
p {
    line-height: 1.6;
}
